
/*************
*** Default ***
*************/
* {
    margin: 0;
    padding: 0;
  }
  
  img {
    vertical-align: middle;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
  }
  
  /*************
  *** Header ***
  *************/
  #intro {
    width: 100%;
    height: 80px;

    display: flex;

  }
  
  
  #intro h1 {

  
    width: 50%;
    height: 80px;
    background-color: #fbfbfb;
  }
  
  #intro h1 a {
    display: block;
  
    font-size: 30px;
    padding: 22px 0 0 30px;
  }
  
  #intro nav {

  
    width: 50%;
    height: 80px;
  }
  
  #intro nav ul li {

  
    /* width: 33.3333333%; */
    width: calc(100%/3);
    height: 80px;
  
    text-align: center;
  
    line-height: 80px;
  }
  
  #intro nav ul li.one {
    background-color: #efeff6;
  }
  
  #intro nav ul li.two {
    background-color: #dcdcec;
  }
  
  #intro nav ul li.three {
    background-color: #cbcae3;
  }
  
  #intro nav ul li a {
    font-size: 20px;
    font-weight: bold;
  }
  
  /*************
  *** Main ***
  *************/
  /* 제품 디자인 */
  #main article {
    float: left;
  
    width: 50%;
    height: 320px;
  }
  
  #main article a {
    display: block;
    width: 100%;
    height: 100%;
  
    color: #fff;
  }
  
  #main article.one {
    background-color: #524fa1;
  }
  
  #main article.two {
    background-color: #a44789;
  }
  
  #main article.three {
    background-color: #3ab6bc;
  }
  
  #main article img {
    width: 100%;
  }
  
  #main article h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
  
    padding: 10px 0;
  }
  
  /* 중간 텍스트 */
  #main article.text {
    width: 100%;
    height: 66px;
  }
  
  #main article.text p {
    text-align: center;
  
    font-size: 20px;
    font-weight: bold;
  
    padding: 20px 0;
  
    border: solid 1px #000;
  }
  
  /*************
  *** footer ***
  *************/
  #footer {
    clear: both;
  
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;
  }
  
  #footer .copyright {
    float: left;
  
    width: 50%;
  }
  
  #footer .address {
    float: right;
  
    width: 50%;
  }
  
  #footer .copyright p {
    font-size: 14px;
    color: #999;
  
    padding: 32px 0 0 40px;
  }
  
  #footer .address p {
    text-align: right;
  
    font-size: 14px;
    color: #999;
  
    padding: 32px 40px 0 0;
  }
  
  #intro nav ul li a {
    transition: color 0.3s;
  }
  #intro nav ul li a:hover {
    color: #917f7f;
  }
  
  #main article.one,
  #main article.two,
  #main article.three {
    transition: background-color 0.3s;
  }
  
  #main article.one:hover {
    background-color: #8683bd;
  }
  #main article.two:hover {
    background-color: #bf7eac;
  }
  #main article.three:hover {
    background-color: #75ccd0;
  }
  
  #main article img {
    transition: all 0.3s;
  }
  #main article img:hover {
    transform: scale(1.1);
  }
  
  @media (min-width: 320px) and (max-width: 1000px) {
    .container {
      width: 640px;
    }
  
    #intro {
      width: 100%;
    }
  
    #intro h1 {
      width: 100%;
      height: 160px;
    }
  
    #intro h1 a {
      text-align: center;
      padding: 22px 0 0 0;
    }
  
    #intro nav {
      width: 100%;
    }
  
    #main article {
      width: 100%;
      height: 420px;
    }
  
    #footer {
      padding: 30px 0;
    }
    #footer .copyright,
    #footer .address {
      width: 100%;
    }
    #footer .copyright p,
    #footer .address p {
      text-align: center;
      padding: 0;
    }
    #footer .address {
      padding-top: 20px;
    }
  }
  