.container {
  height: 100vh;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.item {
  max-width: 350px;
  text-align: center;
}

.button {
  border: 2px solid #4CAF50;
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

ol {
  float: left;
  padding: 0 1rem 0 0;
}

li {
  list-style: none;
}